$red-l: #ff463d; // not happy with this color
$red: #ff0000;
$red-d: #e0000b;

$pink-d: #ed5e90;
$pink: #e93977;
$pink-l: #d82664;

$orange-l: #ffaf0f;
$orange: #ff9400;
$orange-d: #ef7700;

$yellow-l: #ffd70f;
$yellow: #ffbf00;
$yellow-d: #ef9f00;

$green-l: #70df83;
$green: #4cd062;
$green-d: #31b94a;

$lightblue-l: #28c2ff;
$lightblue: #19b2ff;
$lightblue-d: #0aa1ff;

$blue-l: #198cff;
$blue: #0a70ff;
$blue-d: #185be0;

$purple-l: #535ad4;
$purple: #4747d1;
$purple-d: #3731b4;

$grayscale-black: #000000;
$grayscale-1: #121217;

$grayscale-2: #19191e;
$grayscale-3: #26262b;
$grayscale-4: #38383d;

$grayscale-5: #4f4f54;
$grayscale-6: #636368;
$grayscale-7: #7f7f84;

$grayscale-8: #8e8e93;

$grayscale-9: #a1a1a6;
$grayscale-a: #b8b8bd;
$grayscale-b: #d3d3d8;

$grayscale-c: #e2e2e7;
$grayscale-d: #ededf3;
$grayscale-e: #f2f2f7;

$grayscale-f: #f9f9fe;
$grayscale-white: #ffffff;
