html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

* {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  user-select: inherit;
  cursor: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  appearance: none;
}
