@import './colors';

$small-space: 12px;
$normal-space: 20px;
$large-space: 36px;

%spacer {
  & + * {
    margin-top: $normal-space;
  }
}

.wysiwyg {
  > * {
    @extend %spacer;
  }
  :first-child {
    margin-top: 0;
  }

  h1 {
    @extend %heading-4;
  }
  h2 {
    @extend %heading-5;
  }
  h3 {
    @extend %heading-6;
  }
  h4 {
    @extend %body;
    font-weight: bold;
  }
  h5 {
    @extend %compact;
    font-weight: 600;
  }
  h6 {
    @extend %compact;
    font-weight: 600;
    color: $grayscale-6;
  }

  h1,
  h2 {
    margin-top: $large-space !important;
    & + * {
      margin-top: $small-space !important;
    }
    padding-bottom: $small-space;

    border-bottom: 1px solid $grayscale-d;
  }

  h3,
  h4 {
    margin-top: $normal-space !important;
    & + * {
      margin-top: $small-space !important;
    }
  }

  h5,
  h6 {
    margin-top: $small-space !important;
    & + * {
      margin-top: $small-space !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // &,
    code {
      background: transparent !important;
    }
  }

  ul,
  ol {
    margin-left: 1.5rem;
  }

  blockquote {
    @extend %compact;
    font-weight: normal;
    color: $grayscale-8;
    margin-left: 10px;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-left: 4px solid $grayscale-c;
    padding-left: 10px;
    width: 100%;
  }

  p {
  }

  code {
    background: mix($grayscale-e, $grayscale-f);
    padding: 0.075rem 0.15rem;
    font-size: 0.85em;
    border-radius: 3px;
  }

  pre {
    padding: 0.75rem 1.35rem;
    background: mix($grayscale-e, $grayscale-f);
    border-radius: 5px;
    max-width: 100%;
    overflow-x: auto;
    code {
      padding: 0 1.35rem 0 0;
    }
  }

  table {
    border-collapse: collapse;
    cursor: default;
    thead {
      background: $grayscale-e;
      border: 1px solid $grayscale-e;
    }

    tbody tr {
      border: 1px solid $grayscale-d;
      &:hover {
        background: $grayscale-f;
      }

      &:not(:first-child) {
        border-top: 1px solid $grayscale-e;
      }
    }

    td,
    th {
      padding: 0.5rem 1rem;
    }

    td:not(:last-child) {
      border-right: 1px solid $grayscale-d;
    }

    th {
      @extend %compact;
      text-transform: uppercase;
      text-align: left;
    }
  }

  hr {
    height: 1px;
    background: $grayscale-d;
  }

  img {
    max-width: 100%;
  }

  figure {
    img {
      width: 100%;
    }

    figcaption {
      @extend %caption;
      color: $grayscale-9;
    }
  }

  a {
    &,
    code {
      color: $blue !important;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
