openapi: 3.0.0
servers:
  - url: //unstoppabledomains.com/api/v1
    description: Main Server
info:
  description: |
    Welcome to Unstoppable Domains documentation.

    # Fast navigation
    Over here you can take a closer look in the main points of integration:
      - [Blockchain library](#tag/resolution)
      - [Domain name resolution API](#tag/domain_name_resolution)
      - [Reseller API](#tag/reseller)
      - [Payment options](#tag/paymentDescription)
      - [Demos](#tag/demos)

    Apply to get a reseller API token [here](https://unstoppabledomains.com/resellers)

  version: 1.0.0
  title: Unstoppable Domain

  x-logo:
    url: 'data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjU4IiB3aWR0aD0iMjU2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTg4LjY0NiAyNS4zMDhjLTIuMjg4IDAtNC4wNjYtLjYyMy01LjMzNS0xLjg3cy0xLjkwMy0zLjAxNC0xLjkwMy01LjMwMlY5LjZoNC4zNTZ2OC40MDRjMCAyLjQ2NC45NzUgMy42OTYgMi45MjYgMy42OTYgMS45MzYgMCAyLjkwNC0xLjIzMiAyLjkwNC0zLjY5NlY5LjZoNC4yOXY4LjUzNmMwIDIuMjg4LS42MzQgNC4wNTUtMS45MDMgNS4zMDJzLTMuMDQ3IDEuODctNS4zMzUgMS44N3pNMTEzLjQ4NCA5LjZWMjVoLTMuNTg2bC02Ljc5OC04LjIwNlYyNWgtNC4yNjhWOS42aDMuNTg2bDYuNzk4IDguMjA2VjkuNnptOC40OTIgMTUuNzA4Yy0xLjI0NyAwLTIuNDU3LS4xNTQtMy42My0uNDYycy0yLjEyNy0uNzE5LTIuODYtMS4yMzJsMS40My0zLjIxMmMuNjkuNDU1IDEuNDg5LjgyMSAyLjM5OCAxLjFzMS44MDQuNDE4IDIuNjg0LjQxOGMxLjY3MiAwIDIuNTA4LS40MTggMi41MDgtMS4yNTQgMC0uNDQtLjIzOC0uNzY2LS43MTUtLjk3OXMtMS4yNDMtLjQzNi0yLjI5OS0uNjcxYy0xLjE1OS0uMjUtMi4xMjctLjUxNy0yLjkwNC0uODAzcy0xLjQ0NS0uNzQ0LTIuMDAyLTEuMzc1LS44MzYtMS40ODEtLjgzNi0yLjU1MmMwLS45MzkuMjU3LTEuNzg2Ljc3LTIuNTQxczEuMjgtMS4zNTMgMi4yOTktMS43OTMgMi4yNy0uNjYgMy43NTEtLjY2YzEuMDEyIDAgMi4wMS4xMTQgMi45OTIuMzQxczEuODQ4LjU2MSAyLjU5NiAxLjAwMWwtMS4zNDIgMy4yMzRjLTEuNDY3LS43OTItMi44OS0xLjE4OC00LjI2OC0xLjE4OC0uODY1IDAtMS40OTYuMTI4LTEuODkyLjM4NS0uMzk2LjI1Ny0uNTk0LjU5LS41OTQgMS4wMDFzLjIzNS43MTkuNzA0LjkyNCAxLjIyNS40MTggMi4yNjYuNjM4YzEuMTczLjI1IDIuMTQ1LjUxNyAyLjkxNS44MDNzMS40MzcuNzQgMi4wMDIgMS4zNjRjLjU2NS42MjMuODQ3IDEuNDcuODQ3IDIuNTQxIDAgLjkyNC0uMjU3IDEuNzYtLjc3IDIuNTA4cy0xLjI4MyAxLjM0Ni0yLjMxIDEuNzkzLTIuMjczLjY3MS0zLjc0LjY3MXptMTIuMS0xMi4yNTRoLTQuNzNWOS42aDEzLjc5NHYzLjQ1NGgtNC43MDhWMjVoLTQuMzU2em0xOC40NTggMTIuMjU0Yy0xLjYyOCAwLTMuMDkxLS4zNDUtNC4zODktMS4wMzRzLTIuMzE3LTEuNjQzLTMuMDU4LTIuODYtMS4xMTEtMi41ODktMS4xMTEtNC4xMTQuMzctMi44OTcgMS4xMTEtNC4xMTQgMS43Ni0yLjE3IDMuMDU4LTIuODZjMS4yOTgtLjY5IDIuNzYxLTEuMDM0IDQuMzg5LTEuMDM0czMuMDkxLjM0NSA0LjM4OSAxLjAzNGMxLjI5OC42OSAyLjMxNyAxLjY0MyAzLjA1OCAyLjg2czEuMTExIDIuNTg5IDEuMTExIDQuMTE0LS4zNyAyLjg5Ny0xLjExMSA0LjExNC0xLjc2IDIuMTctMy4wNTggMi44Ni0yLjc2MSAxLjAzNC00LjM4OSAxLjAzNHptMC0zLjYwOGMuNzc3IDAgMS40ODEtLjE4MyAyLjExMi0uNTVzMS4xMy0uODg0IDEuNDk2LTEuNTUxYy4zNjctLjY2Ny41NS0xLjQzNC41NS0yLjI5OXMtLjE4My0xLjYzMi0uNTUtMi4yOTljLS4zNjctLjY2Ny0uODY1LTEuMTg0LTEuNDk2LTEuNTUxcy0xLjMzNS0uNTUtMi4xMTItLjU1LTEuNDgxLjE4My0yLjExMi41NS0xLjEzLjg4NC0xLjQ5NiAxLjU1MS0uNTUgMS40MzQtLjU1IDIuMjk5LjE4MyAxLjYzMi41NSAyLjI5OS44NjUgMS4xODQgMS40OTYgMS41NTEgMS4zMzUuNTUgMi4xMTIuNTV6TTE3MC40MiA5LjZjMS4zOTMgMCAyLjYwMy4yMzEgMy42My42OTMgMS4wMjcuNDYyIDEuODE5IDEuMTIyIDIuMzc2IDEuOThzLjgzNiAxLjg2Ni44MzYgMy4wMjUtLjI3OSAyLjE2My0uODM2IDMuMDE0LTEuMzUgMS41MDctMi4zNzYgMS45NjktMi4yMzcuNjkzLTMuNjMuNjkzaC0yLjY4NFYyNWgtNC4zNTZWOS42em0tLjI2NCA3Ljk0MmMuODk1IDAgMS41Ny0uMTk0IDIuMDI0LS41ODNzLjY4Mi0uOTQyLjY4Mi0xLjY2MS0uMjI3LTEuMjc2LS42ODItMS42NzItMS4xMy0uNTk0LTIuMDI0LS41OTRoLTIuNDJ2NC41MXpNMTg2LjYzNCA5LjZjMS4zOTMgMCAyLjYwMy4yMzEgMy42My42OTMgMS4wMjcuNDYyIDEuODE5IDEuMTIyIDIuMzc2IDEuOThzLjgzNiAxLjg2Ni44MzYgMy4wMjUtLjI3OSAyLjE2My0uODM2IDMuMDE0LTEuMzUgMS41MDctMi4zNzYgMS45NjktMi4yMzcuNjkzLTMuNjMuNjkzaC0yLjY4NFYyNWgtNC4zNTZWOS42em0tLjI2NCA3Ljk0MmMuODk1IDAgMS41Ny0uMTk0IDIuMDI0LS41ODNzLjY4Mi0uOTQyLjY4Mi0xLjY2MS0uMjI3LTEuMjc2LS42ODItMS42NzItMS4xMy0uNTk0LTIuMDI0LS41OTRoLTIuNDJ2NC41MXptMTkuNzU2IDQuNDY2aC02LjUxMkwxOTguNDA0IDI1aC00LjQ0NGw2Ljc5OC0xNS40aDQuMjlsNi44MiAxNS40aC00LjUzMnptLTEuMjc2LTMuMjEybC0xLjk4LTQuOTI4LTEuOTggNC45Mjh6bTIwLjA4Ni0xLjgyNmMuODguMzA4IDEuNTcuNzg4IDIuMDY4IDEuNDQxcy43NDggMS40NDEuNzQ4IDIuMzY1YzAgMS4zNS0uNTQzIDIuMzktMS42MjggMy4xMjRzLTIuNjU1IDEuMS00LjcwOCAxLjFIMjEzLjFWOS42aDcuODc2YzEuOTY1IDAgMy40NjEuMzYzIDQuNDg4IDEuMDg5IDEuMDI3LjcyNiAxLjU0IDEuNzA1IDEuNTQgMi45MzcgMCAuNzMzLS4xOCAxLjM5LS41MzkgMS45NjlzLS44NjkgMS4wMzgtMS41MjkgMS4zNzV6bS03LjUyNC00LjIyNHYyLjk3aDIuOTkyYzEuNDY3IDAgMi4yLS40OTkgMi4yLTEuNDk2IDAtLjk4My0uNzMzLTEuNDc0LTIuMi0xLjQ3NHptMy42NTIgOS4xMDhjMS41MjUgMCAyLjI4OC0uNTIgMi4yODgtMS41NjJzLS43NjMtMS41NjItMi4yODgtMS41NjJoLTMuNjUydjMuMTI0ek0yMzAuMDE4IDkuNmg0LjM1NnYxMS45NDZoNy4zNDhWMjVoLTExLjcwNHptMjUuNzg0IDEyLjAzNFYyNWgtMTIuMzY0VjkuNmgxMi4wNzh2My4zNjZoLTcuNzY2djIuNTk2aDYuODQydjMuMjU2aC02Ljg0MnYyLjgxNnpNODEuNTQgMzMuNmg3LjI4MmMxLjY4NyAwIDMuMTgzLjMxNSA0LjQ4OC45NDZzMi4zMTcgMS41MjUgMy4wMzYgMi42ODQgMS4wNzggMi41MTUgMS4wNzggNC4wNy0uMzYgMi45MTEtMS4wNzggNC4wNy0xLjczIDIuMDUzLTMuMDM2IDIuNjg0LTIuODAxLjk0Ni00LjQ4OC45NDZIODEuNTR6bTcuMTA2IDExLjkyNGMxLjMyIDAgMi4zOC0uMzc0IDMuMTc5LTEuMTIyczEuMTk5LTEuNzgyIDEuMTk5LTMuMTAyLS40LTIuMzU0LTEuMTk5LTMuMTAyLTEuODU5LTEuMTIyLTMuMTc5LTEuMTIyaC0yLjc1djguNDQ4em0xOC44MzIgMy43ODRjLTEuNjI4IDAtMy4wOTEtLjM0NS00LjM4OS0xLjAzNHMtMi4zMTctMS42NDMtMy4wNTgtMi44NmMtLjc0LTEuMjE3LTEuMTExLTIuNTg5LTEuMTExLTQuMTE0cy4zNy0yLjg5NyAxLjExMS00LjExNGMuNzQtMS4yMTcgMS43Ni0yLjE3IDMuMDU4LTIuODZzMi43NjEtMS4wMzQgNC4zODktMS4wMzQgMy4wOTEuMzQ1IDQuMzg5IDEuMDM0IDIuMzE3IDEuNjQzIDMuMDU4IDIuODYgMS4xMTEgMi41ODkgMS4xMTEgNC4xMTQtLjM3IDIuODk3LTEuMTExIDQuMTE0LTEuNzYgMi4xNy0zLjA1OCAyLjg2LTIuNzYxIDEuMDM0LTQuMzg5IDEuMDM0em0wLTMuNjA4Yy43NzcgMCAxLjQ4MS0uMTgzIDIuMTEyLS41NXMxLjEzLS44ODQgMS40OTYtMS41NTFjLjM2Ny0uNjY3LjU1LTEuNDM0LjU1LTIuMjk5cy0uMTgzLTEuNjMyLS41NS0yLjI5OWMtLjM2Ny0uNjY3LS44NjUtMS4xODQtMS40OTYtMS41NTFzLTEuMzM1LS41NS0yLjExMi0uNTUtMS40ODEuMTgzLTIuMTEyLjU1LTEuMTMuODg0LTEuNDk2IDEuNTUxYy0uMzY3LjY2Ny0uNTUgMS40MzQtLjU1IDIuMjk5cy4xODMgMS42MzIuNTUgMi4yOTljLjM2Ny42NjcuODY1IDEuMTg0IDEuNDk2IDEuNTUxczEuMzM1LjU1IDIuMTEyLjU1em0yNC43NSAzLjNsLS4wNDQtOC4xNjItMy45NiA2LjY0NGgtMS45MzZsLTMuOTM4LTYuNDI0VjQ5aC00LjAyNlYzMy42aDMuNTg2bDUuNDEyIDguODg4IDUuMjgtOC44ODhoMy41ODZsLjA0NCAxNS40em0xNy40MDItMi45OTJoLTYuNTEyTDE0MS45MDggNDloLTQuNDQ0bDYuNzk4LTE1LjRoNC4yOWw2LjgyIDE1LjRoLTQuNTMyem0tMS4yNzYtMy4yMTJsLTEuOTgtNC45MjgtMS45OCA0LjkyOHptOC4yNS05LjE5Nmg0LjM1NlY0OWgtNC4zNTZ6bTIyLjExIDBWNDloLTMuNTg2bC02Ljc5OC04LjIwNlY0OWgtNC4yNjhWMzMuNmgzLjU4Nmw2Ljc5OCA4LjIwNlYzMy42em04LjQ5MiAxNS43MDhjLTEuMjQ3IDAtMi40NTctLjE1NC0zLjYzLS40NjJzLTIuMTI3LS43MTktMi44Ni0xLjIzMmwxLjQzLTMuMjEyYy42OS40NTUgMS40ODkuODIxIDIuMzk4IDEuMXMxLjgwNC40MTggMi42ODQuNDE4YzEuNjcyIDAgMi41MDgtLjQxOCAyLjUwOC0xLjI1NCAwLS40NC0uMjM4LS43NjYtLjcxNS0uOTc5cy0xLjI0My0uNDM2LTIuMjk5LS42NzFjLTEuMTU5LS4yNS0yLjEyNy0uNTE3LTIuOTA0LS44MDNzLTEuNDQ1LS43NDQtMi4wMDItMS4zNzUtLjgzNi0xLjQ4MS0uODM2LTIuNTUyYzAtLjkzOS4yNTctMS43ODYuNzctMi41NDFzMS4yOC0xLjM1MyAyLjI5OS0xLjc5MyAyLjI3LS42NiAzLjc1MS0uNjZjMS4wMTIgMCAyLjAxLjExNCAyLjk5Mi4zNDFzMS44NDguNTYxIDIuNTk2IDEuMDAxbC0xLjM0MiAzLjIzNGMtMS40NjctLjc5Mi0yLjg5LTEuMTg4LTQuMjY4LTEuMTg4LS44NjUgMC0xLjQ5Ni4xMjgtMS44OTIuMzg1LS4zOTYuMjU3LS41OTQuNTktLjU5NCAxLjAwMXMuMjM1LjcxOS43MDQuOTI0IDEuMjI1LjQxOCAyLjI2Ni42MzhjMS4xNzMuMjUgMi4xNDUuNTE3IDIuOTE1LjgwM3MxLjQzNy43NCAyLjAwMiAxLjM2NC44NDcgMS40Ny44NDcgMi41NDFjMCAuOTI0LS4yNTcgMS43Ni0uNzcgMi41MDhzLTEuMjgzIDEuMzQ2LTIuMzEgMS43OTMtMi4yNzMuNjcxLTMuNzQuNjcxeiIgZmlsbD0iIzAxMDYxNyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTY0IDF2MjJMMCA0OXoiIGZpbGw9IiMyZmU5ZmYiLz48cGF0aCBkPSJNNTIgMHYzOGMwIDExLjA0Ni04Ljk1NCAyMC0yMCAyMHMtMjAtOC45NTQtMjAtMjBWMjJsMTItNi42VjM4YTcgNyAwIDAwMTQgMFY3Ljd6IiBmaWxsPSIjNGM0N2Y3Ii8+PC9nPjwvc3ZnPg=='
    altText: Unstoppable domain logo

tags:
  - name: resolution
    x-displayName: Resolution
    description: |
      Unstoppable Domain provides an npm package called Resolution.
      This npm package is able to make a live blockchain call to either zns, cns, or ens to resolve a domain name.
      It is fully customizable for various blockchain networks. When creating an instance developer can specify
        - blockchain url such as https://mainnet.infura.io or https://api.zilliqa.com
        - blockchain network as either a standart number like 1 for ens for mainnet or 333 for zns for testnet
          - blockchain network can be specified as a string as well ('mainnet', 'testnet', 'ropsten' and etc...)
        
      ## Installation
        Resolution is hosted on the [NPM Registry](https://www.npmjs.com/package/@unstoppabledomains/resolution) as package
        `resolution`. Resolution also owns the npm org `@resolution`.

        Most of the time installation looks like:

        ```bash
        npm install @unstoppabledomains/resolution
        ```

        ```bash
        # It's also available via yarn
        yarn add @unstoppabledomains/resolution
        ```
      ## Getting Started
        Create a new project.

        ```shell
        mkdir test-out-resolution && cd $_
        npm init -y
        ```

        Make a file, `script.js`.

        ```javascript
        const {default: Resolution} = require('@unstoppabledomains/resolution')

        const resolution = new Resolution()

        function resolve(domain, currency) {
          resolution.address(domain, currency)
            .then(address => console.log(domain, ' resolves to', address))
            .catch(console.error)
        }
        resolve('resolver.eth', "ETH")
        resolve('brad.zil', "ZIL")
        ```

        Execute the script.

        ```javascript
        node script.js
        # brad.zil  resolves to zil1yu5u4hegy9v3xgluweg4en54zm8f8auwxu0xxj
        # resolver.eth resolves to 0xD3ddcCDD3b25A8a7423B5bEe360a42146eb4Baf3
        ```
        
      ## How to resolve 
        Resolution library provides a way to resolve a domain name using a direct blockchain call.
        For this purpose there are two main methods to look for: ** Resolution.resolve ** and ** Resolution.address **
      - ### Resolve
        This method accept the domain name and returns following object or null in case of error
        ```javascript
          {
            addresses: {}, // if domain will resolve to anything it will be here
            meta: {
              owner: null, // this means the domain is avalable for purchase
              ttl: 0,
            },
          };
        ```
      - ### Address
        This method accepts two arguments:
          - domain name
          - currency ticker in which address you are interested like ( BTC, ETH, ZIL )

        It returns you the address if such exists or simply null if such address wasn't found.
        Beside the resolution there are also methods to test whether the domain is in valid format or supported by the network
      - ### isSupportedDomain
        Accepts domain name and returns boolean if such domain is supported by ens, cns, or zns
      - ### isSupportedDomainInNetwork
        Accepts the domain name and test it agains the current blockchain network specified in constructor of Resolution.
        It will also check if the domain is in valid format

  - name: domain_name_resolution
    x-displayName: Domain name resolution
    description: |-
      Resolution is the process of taking a name and finding a corresponding a record. We say a name 'resolves' to a record.
      For example, www.google.com resolves to an IP Address on DNS.
      Blockchain domain names can resolve to a wide variety of records. The most basic is a crypto currency address.
      The Zilliqa Name Service (ZNS) resolves names to Zilliqa Addresses.

      One of the way how someone can resolve a Blockchain domain name is to use this endpoint below

  - name: demos
    x-displayName: Demos
    description: |
      Unstoppable Domains has built several demo applications to show some examples on how someone would use it services

      ### Demo List:
        - [Domain name resolution](https://unstoppabledomains.github.io/reseller-demo/#/domain-name-reloution)
        - [Domain name resolution v2](https://unstoppabledomains.github.io/reseller-demo/#/domain-name-reloution-v2)
        - [Reseller domain purchase](https://unstoppabledomains.github.io/reseller-demo/#/reseller-demo)
        
      Here are some simple steps to help you launch Unstoppable Demo app locally on your machine. More complete documentation is coming soon!

      # Clone, install and run the project locally.

      ```shell
      mkdir test-out-resolution && cd $_ &&
      git clone https://github.com/unstoppabledomains/reseller-demo ./ && 
      yarn install && yarn start
      ```

  - name: reseller
    x-displayName: Reseller API
    description: |-
      Reseller API requires you to be an authorized reseller. You can
      apply to be a reseller [here](https://unstoppabledomains.com/resellers). 

      Visit the [reseller dashboard](https://unstoppabledomains.com/resellers) to view your resellerID and Stripe.

      Below endpoints are used with our [Authentication](#tag/authentication)

  - name: stripePayment
    x-displayName: Stripe
    description: |-
      To obtain your Stripe API keys, onboard with the Unstoppable Domains platform through Stripe.
      There is a stripe connect button in the [reseller dashboard](https://unstoppabledomains.com/resellers). Once connected, your Stripe API key will appear.

      UD supports http://stripe.com/ payments.

      Stripe requires you to embed their form into your application: https://stripe.com/docs/web/setup

      Stripe token ID should be proded to the buy domain API endpoint: https://stripe.com/docs/stripe-js/elements/quickstart#create-token

      This is a recommended and **SECURE** payment method for wallets that have all their applications completely on the client side.

      We use a different stripe API key for live and test orders:
        - pk_test_* (reseller-test-* namespace)
        - pk_live_* (all other domains)

      These Stripe API keys are public keys and they are safe to reveal.

      ## Stripe Flow:
      - Customer enters his credit card and presses submit
      - Wallet sends payment information to stripe and generates the stripe token.
      - Wallet sends “Buy Domain” request with order information and stripe token id
      - UD receives the call, charges the credit card via stripe token
      - UD responds to the wallet with success and pending status if payment was successful
      - Wallet shows the contratuation page to the customer
      - Wallet queries “Order Status” endpoint to make sure the transaction is mined successfully
  - name: coinbasePayment
    x-displayName: Coinbase
    description: |-
      UD support https://developers.coinbase.com/ payments.

      That requires Reseller to change the flow in a specific manner.
      In order to work with coinbase a wallet should make a buy domain call with payments field defined to “coinbase”. UD will respond with the coinbase chargeID which can be used with coinbase API.

      Example: https://api.commerce.coinbase.com/charges/BDCL6NRV

      In order to detect whether the payment passed through developer can use order status endpoint. 

      ## Coinbase Flow:
      - Customer fills all necessary fields for making an order
      - Wallet sends "Buy Domain" request with order information and payment type field as coinbase
      - Wallet receives coinbase chargeID token, use it with https://api.commerce.coinbase.com/charges/:chargeID endpoint to show ui to the user
      - User pays specified amount to the specified address
      - Wallets makes a series of queries "Order Status" endpoint to make sure the transaction has been made and mined successfully
  - name: paymentDescription
    x-displayName: Payment options
    description: |-
      Unstoppable Domains provides several choices for payment operations:
        - [Stripe integration](#section/Stripe-Flow:)
        - [Coinbase integration](#section/Coinbase-Flow:)
  - name: authentication
    x-displayName: Authentication
    description: |-
      Unstoppable Domains provides following tools and API endpoints:
      - Domain Resolution is realized via [Resolution](#tag/resolution) library with direct blockchain calls
      - Reseller API requires you to be an authorized reseller. You can apply to be a reseller [here](https://unstoppabledomains.com/resellers)

  - name: testing
    x-displayName: Testing
    description: |-
      Based on the nature of the blockchain domains, they can not be easily returned because UD has no control over the domain once it is assigned. 
      ### IMPORTANT:
      That is why **ANY** successful purchase of the domain is not easily reversible. UD charges resellers for any domain sold via the “Buy Domain” endpoint that is not in the test name space.
      ## Test name space
      UD is introducing the testing domain name space for resellers. If your domain has the following format: “reseller-test-\<reseller-id\>-\<random-number\>.crypto”, UD will not charge you for selling any of these. However, these domains are fully functional and live in the same production environment on the blockchain as any other UD domain. “Domain Availability” endpoint has an information whether the domain is in the testing space with `reseller.test` key.
      ## Try It For Yourself
      Shell script to run all example request to API:
      ```shell
        jq --version > /dev/null
        curl --version > /dev/null

        set -e
        if [ -z "$RESELLER" ] || [ -z $BUYER ]; then
          echo "Usage: RESELLER=<key> BUYER=<email> $0"
          exit 1
        fi

        reseller="$RESELLER"

        # Buy Domain params
        buyer="$BUYER"
        buydomain() {
          echo "reseller-test-$reseller-$RANDOM.crypto"
        }
        owner="0xa823a39d2d5d2b981a10ca8f0516e6eaff78bdcf"
        zil='0xe568f2BB42A77F6508911290d581B3Af107b1e4B'
        eth='0x20B4564DEB7AF89ece828d843D0Ac2c16934a23e'


        #host="http://localhost:8080"
        host="https://unstoppabledomains.com"

        base="$host/api/v1/resellers/$reseller"

        get() {
          url="$base$1"
          echo $url
          curl -sS -H "$header" $url | jq
        }

        get "/domains/bogdantest.crypto"
        get "/domains/invalid"
        get "/domains/available-domain.crypto"
        get "/domains/reseller-test-$reseller-3828832.crypto"
        get "/domains/reseller-test-unavailable-3828832.crypto"
        get "/users/bogdan@unstoppabledomains.com"
        get "/users/braden@unstoppabledomains.com"
        get "/users/unknown-user@gmail.com"
        get "/users/invalid-gmail.com"
        get "/users/$buyer/orders/28832"

        domainsjson() {
        echo $( jq -n \
                          --arg buydomain "`buydomain`" \
                          --arg owner "$owner" \
                          --arg zil "$zil" \
                          --arg eth "$eth" \
                          '[{name: $buydomain, owner: $owner, resolution: {crypto: {ZIL: {address: $zil}, ETH: {address: $eth}}}}]' )

        }
        json=$( jq -n "{order: {domains: `domainsjson`}}" )

        orderapi="$base/users/$buyer/orders"

        order() {
          echo POST $orderapi
          echo BODY $1
          curl -sS -H "$header" -H "Content-Type: application/json" -X POST -d "$1" "$orderapi" > /tmp/response.json
          jq "." /tmp/response.json
        }

        order "$json"

        orderid=`jq -r .order.orderNumber /tmp/response.json`
        get "/users/$buyer/orders/$orderid"


        json=$(jq -n  '{order: {domains: [{invalidSchema: true}]}}')
        order "$json"


        tokenid=`curl -sS 'https://api.stripe.com/v1/tokens' -H 'Accept: application/json' -H 'Content-Type: application/x-www-form-urlencoded' --data 'card[number]=5555555555554444&card[cvc]=123&card[exp_month]=01&card[exp_year]=25&card[address_zip]=12345&key=pk_test_bERlHfGH5lT9rTIhKPg74H0o&pasted_fields=number' | jq -r '.id'`

        json=$( jq -n \
          --arg tokenid "$tokenid" \
          "{order: {payment: {type: \"stripe\", tokenId: \$tokenid}, domains: `domainsjson`}}" )

        order "$json"
      ```

      Requires jq and curl console utilities:
      - https://stedolan.github.io/jq/
      - https://curl.haxx.se/
  - name: reachout
    x-displayName: Support team
    description: |-
      You can reach our support team via these channels:
        - [Telegram](https://t.me/unstoppabledomains)
        - [Website](https://community.unstoppabledomains.com)
        - <support@unstoppabledomains.com>

x-tagGroups:
  - name: Blockchain library
    tags:
      - resolution

  - name: API
    description: |-
    tags:
      - authentication
      - domain_name_resolution
      - reseller

  - name: Payment
    tags:
      - paymentDescription
      - stripePayment
      - coinbasePayment
  - name: How to test
    tags:
      - testing

  - name: For developers
    tags:
      - demos
  - name: Support Contacts
    tags:
      - reachout
paths:
  /{domain}:
    parameters:
      - name: domain name
        in: path
        description: Domain name you wish to check
        schema:
          $ref: '#/components/schemas/Domain'
    get:
      tags:
        - domain_name_resolution
      summary: Resolves the domain
      description:
        'Dispatches the domain returns crypto addresses and metadata associated
        with the domain. Unclaimed address will still be revolved to null
        addresses'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecord'

  /resellers/{resellerID}/users/{email}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        in: path
        description: User email
        required: true
        schema:
          $ref: '#/components/schemas/Email'
    get:
      tags:
        - reseller
      summary: User status
      description:
        API endpoint can be used to check whether the user has a domain and
        whether they are eligible for a free domain.
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userStatus/Valid'
  /resellers/{resellerID}/domains/{domainName}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: domainName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Domain'
    get:
      tags:
        - reseller
      summary: Domain name availability
      description: >
        Requires domain name

        ## Returns 
         - `owner` blockchain address
         - `reselling` information on domain `price`, whether it’s
        `availableForFree`, and whether it is a `test` domain. `reselling` is
        equal to `null` if the domain is not available to resell.
         - `auction` information if the domain is available for the auction.
        Currently not implemented.
      responses:
        '200':
          description:
            Contains owner, reselling information and auction information if any
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailability/ValidResponse'
        '400':
          description: Invalid domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailability/errors/invalidDomain'
  /resellers/{resellerID}/domains:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: owner
        in: query
        description: owner ethereum address
        required: true
        schema:
          type: string
          example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
      - name: extension
        in: query
        description: extension to look for
        required: true
        schema:
          type: string
          exmaple: zil
      - name: page
        in: query
        description: page number to look at number >= 1, default 1
        required: false
        schema:
          type: number
          example: 1
      - name: perPage
        in: query
        description: perPage results  number >= 1 && number <= 50, default 30
        required: false
        schema:
          type: number
          example: 10
    get:
      tags:
        - reseller
      summary: Reverse look up.
      description:
        This endpoint is used to get all domains that are connected to certain
        owner
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reverselookUp/Valid'
  /resellers/{resellerID}/users/{email}/orders:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        description: User email
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/Email'
    post:
      tags:
        - reseller
      summary: Buy domain
      description: >
        This API endpoint is used for buying domains from UD.

        The blockchain needs time before a transaction is mined. In rare cases,
        it is possible for someone to front run your purchase, which would
        result in an order being cancelled. We expect this to happen in less
        than 1 out of 10,000 cases. 


        Blockchain doesn’t currently support any locking functionality for an
        upcoming purchase.


        Please make sure you are using the “Order Status” endpoint and wait
        until the transaction is mined. The API currently supports a single
        domain purchase at a time. UD will extend support to multiple domains in
        the future.
        

        Buy Domain has a little bit different flows depends on which Payment
        system is used. Please read more about it
        [here](#tag/paymentDescription) before using this endpoint
      requestBody:
        type: object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/reseller/buy'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reseller/BuyResponce'
  /resellers/{resellerID}/users/{email}/orders/{orderNumber}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        description: User email
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/Email'
      - name: orderNumber
        description: Order number returned as a result of Buy domain API call
        required: true
        in: path
        schema:
          type: string
          example: -Lm9wiYytgrpf4YCWYv6
    get:
      tags:
        - reseller
      summary: Order status
      description: |
        Requires:
          - User Email
          - Order Number
          
        This endpoint is used to check against blockchain transaction status.
        Due to technical limitiation of blockchains transactions are not instant and require some time.
        Once the status is mined you can be sure that the domain is live and written on a blockchain
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reseller/BuyResponce'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reseller/OrderNotFound'
components:
  schemas:
    errors:
      OrderNotFound:
        type: object
        properties:
          code:
            type: string
            description: |
              Error code: 'ORDER_NOT_FOUND'
            example: 'ORDER_NOT_FOUND'
          message:
            type: string
            description: User friendly description of above code
            example: 'Order is not found'
          field:
            type: string
            description: Estimate error field
            example: 'orderId'
          value:
            description: Value of error field
            example: 1231
    orderItem:
      type: object
      properties:
        type:
          type: string
          enum: ['CNS_DOMAIN']
        name:
          $ref: '#/components/schemas/Domain'
        test:
          type: bool
          description: 'Whether domain in test namespace'
        blockchain:
          type: object
          description: Contains information regarding blockchain minning status
          properties:
            status:
              type: string
              enum: ['PENDING', 'MINED', 'CANCELED']
      example:
        type: 'CNS_DOMAIN'
        name: 'reseller-test-udtesting-24287.crypto'
        test: true
        blockchain:
          status: 'MINED'
    Order:
      type: object
      properties:
        orderNumber:
          type: string
          description: orderID used for later status check
          example: -Lm9wiYytgrpf4YCWYv6
        payment:
          anyOf:
            - $ref: '#/components/schemas/stripePayment'
            - $ref: '#/components/schemas/coinbase'
        subtotal:
          type: integer
          description: sub total something number
          example: 10
        items:
          type: array
          items:
            $ref: '#/components/schemas/orderItem'
    Owner:
      description: 'Object contains user Ethereum address'
      type: object
      properties:
        address:
          type: string
          description: Ethereum address
          example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
    Domain:
      description: 'A Plaintext LDH domain'
      type: 'string'
      pattern: "^((?![0-9]+$)(?!.*-$)(?!-)[a-zA-Z0-9-]{1,63}\\.)*(?![0-9]+$)(?!.*-$)(?!-)[a-zA-Z0-9-]{1,63}$"
      example: 'domain.crypto'
    Timestamp:
      description: An epoch timestamp in milliseconds
      type: integer
    Email:
      description: User email address
      type: string
      email: example@gmail.com
    Address:
      description: 'An address'
      type: 'string'
      pattern: '^0x[a-fA-F0-9]{40}$'
      example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
    reverselookUp:
      Valid:
        description: Successful response for a reverse look up
        type: object
        properties:
          domains:
            type: array
            items:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/Domain'
                owner:
                  $ref: '#/components/schemas/Address'
                reselling:
                  type: object
                  $ref: '#/components/schemas/DomainAvailability/resellingResponse'
                auction:
                  description: Information regarding the auction if applicable

    userStatus:
      Valid:
        description: Successful response for a user status
        type: object
        properties:
          user:
            description: Object with user information
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
              registered:
                description: Whether such user is registered
                type: bool
              ownsDomain:
                description: Whether such user already owns a domain
                type: bool
              eligibleForFreeDomain:
                description: Whether such user is eligible for a free domain
                type: bool
    DnsRecord:
      properties:
        addresses:
          description: A relation of currency tickers to the associated address
          type: object
          example:
            {
              'ADA': 'DdzFFzCqrhskNiNkkTLe9QDmGQc1t6u6kcB6cJ5i2UN6NWdQYRaRmwe9Kd78gX8T9Xv2dAyRxN8RhGnckgU3zFrUYVHGVGtm1uCLTSA4',
              'BTC': null,
              'EOS': null,
              'ETH': '0x89a8f5f337304EaA7caEd7AA1D88b791f3d8B51D',
              'XLM': 'r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV',
              'XRP': 'r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV',
              'ZIL': '0x177FFbD0366097C8A0DB7De1E81217dE3883a4B3',
            }
        meta:
          description: Meta information regarding the domain.
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/Address'
            type:
              type: string
              enum: [ens, 'cns', zns]
            ttl:
              $ref: '#/components/schemas/Timestamp'
    coinbase:
      type: object
      description: Generating a coinbase token via this call
      properties:
        type:
          type: string
          description: coinbase
      example:
        type: coinbase
    stripePayment:
      type: object
      description: for stripe payment method
      properties:
        type:
          type: string
          description: stripe
        tokenId:
          type: string
          description: stripe token Id
      example:
        type: stripe
        tokenId: tok_1FAeVFG8PQyZCUJhJp7emswP
    DomainAvailability:
      errors:
        invalidDomain:
          type: object
          description: Domain name is invalid
          properties:
            errors:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                    example: DOMAIN_NAME_INVALID
                  message:
                    type: string
                    description: User friendly description of the problem
                    example: Domain name is invalid
      resellingResponse:
        description:
          Object contains all information regarding reselling proccess
        type: object
        properties:
          price:
            description: How much UD takes for the domain
            type: integer
            example: 10
          availableForFree:
            description: Whether domain is available for free
            type: bool
            example: false
          test:
            description: Whether domain is in test namespace
            type: bool
            example: true
      ValidResponse:
        type: object
        properties:
          domain:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/Domain'
              owner:
                $ref: '#/components/schemas/Address'
              reselling:
                type: object
                $ref: '#/components/schemas/DomainAvailability/resellingResponse'
              auction:
                description: Information regarding the auction if applicable
    Resolution:
      properties:
        crypto:
          description: Object contains Crypto addresses assigned to this domain
          type: object
          example:
            ZIL:
              address: '0xe568f2BB42A77F6508911290d581B3Af107b1e4B'
            ETH:
              address: '0x20B4564DEB7AF89ece828d843D0Ac2c16934a23e'
    Reseller:
      OrderNotFound:
        type: object
        properties:
          errors:
            type: array
            items:
              $ref: '#/components/schemas/errors/OrderNotFound'
      BuyResponce:
        $ref: '#/components/schemas/Order'

  requestBodies:
    reseller:
      buy:
        properties:
          order:
            type: object
            properties:
              domains:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      $ref: '#/components/schemas/Domain'
                    owner:
                      $ref: '#/components/schemas/Owner'
                    resolution:
                      $ref: '#/components/schemas/Resolution'
              payment:
                type: object
                anyOf:
                  - $ref: '#/components/schemas/coinbase'
                  - $ref: '#/components/schemas/stripePayment'
  examples:
