---
openapi: 3.0.0
servers:
  - url: //unstoppabledomains.com/api/v1
    description: Main Server
info:
  title: Unstoppable Domains
  description: |
    Welcome to the Unstoppable Domains Website API documentation!

  x-logo:
    url: 'data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjU4IiB3aWR0aD0iMjU2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTg4LjY0NiAyNS4zMDhjLTIuMjg4IDAtNC4wNjYtLjYyMy01LjMzNS0xLjg3cy0xLjkwMy0zLjAxNC0xLjkwMy01LjMwMlY5LjZoNC4zNTZ2OC40MDRjMCAyLjQ2NC45NzUgMy42OTYgMi45MjYgMy42OTYgMS45MzYgMCAyLjkwNC0xLjIzMiAyLjkwNC0zLjY5NlY5LjZoNC4yOXY4LjUzNmMwIDIuMjg4LS42MzQgNC4wNTUtMS45MDMgNS4zMDJzLTMuMDQ3IDEuODctNS4zMzUgMS44N3pNMTEzLjQ4NCA5LjZWMjVoLTMuNTg2bC02Ljc5OC04LjIwNlYyNWgtNC4yNjhWOS42aDMuNTg2bDYuNzk4IDguMjA2VjkuNnptOC40OTIgMTUuNzA4Yy0xLjI0NyAwLTIuNDU3LS4xNTQtMy42My0uNDYycy0yLjEyNy0uNzE5LTIuODYtMS4yMzJsMS40My0zLjIxMmMuNjkuNDU1IDEuNDg5LjgyMSAyLjM5OCAxLjFzMS44MDQuNDE4IDIuNjg0LjQxOGMxLjY3MiAwIDIuNTA4LS40MTggMi41MDgtMS4yNTQgMC0uNDQtLjIzOC0uNzY2LS43MTUtLjk3OXMtMS4yNDMtLjQzNi0yLjI5OS0uNjcxYy0xLjE1OS0uMjUtMi4xMjctLjUxNy0yLjkwNC0uODAzcy0xLjQ0NS0uNzQ0LTIuMDAyLTEuMzc1LS44MzYtMS40ODEtLjgzNi0yLjU1MmMwLS45MzkuMjU3LTEuNzg2Ljc3LTIuNTQxczEuMjgtMS4zNTMgMi4yOTktMS43OTMgMi4yNy0uNjYgMy43NTEtLjY2YzEuMDEyIDAgMi4wMS4xMTQgMi45OTIuMzQxczEuODQ4LjU2MSAyLjU5NiAxLjAwMWwtMS4zNDIgMy4yMzRjLTEuNDY3LS43OTItMi44OS0xLjE4OC00LjI2OC0xLjE4OC0uODY1IDAtMS40OTYuMTI4LTEuODkyLjM4NS0uMzk2LjI1Ny0uNTk0LjU5LS41OTQgMS4wMDFzLjIzNS43MTkuNzA0LjkyNCAxLjIyNS40MTggMi4yNjYuNjM4YzEuMTczLjI1IDIuMTQ1LjUxNyAyLjkxNS44MDNzMS40MzcuNzQgMi4wMDIgMS4zNjRjLjU2NS42MjMuODQ3IDEuNDcuODQ3IDIuNTQxIDAgLjkyNC0uMjU3IDEuNzYtLjc3IDIuNTA4cy0xLjI4MyAxLjM0Ni0yLjMxIDEuNzkzLTIuMjczLjY3MS0zLjc0LjY3MXptMTIuMS0xMi4yNTRoLTQuNzNWOS42aDEzLjc5NHYzLjQ1NGgtNC43MDhWMjVoLTQuMzU2em0xOC40NTggMTIuMjU0Yy0xLjYyOCAwLTMuMDkxLS4zNDUtNC4zODktMS4wMzRzLTIuMzE3LTEuNjQzLTMuMDU4LTIuODYtMS4xMTEtMi41ODktMS4xMTEtNC4xMTQuMzctMi44OTcgMS4xMTEtNC4xMTQgMS43Ni0yLjE3IDMuMDU4LTIuODZjMS4yOTgtLjY5IDIuNzYxLTEuMDM0IDQuMzg5LTEuMDM0czMuMDkxLjM0NSA0LjM4OSAxLjAzNGMxLjI5OC42OSAyLjMxNyAxLjY0MyAzLjA1OCAyLjg2czEuMTExIDIuNTg5IDEuMTExIDQuMTE0LS4zNyAyLjg5Ny0xLjExMSA0LjExNC0xLjc2IDIuMTctMy4wNTggMi44Ni0yLjc2MSAxLjAzNC00LjM4OSAxLjAzNHptMC0zLjYwOGMuNzc3IDAgMS40ODEtLjE4MyAyLjExMi0uNTVzMS4xMy0uODg0IDEuNDk2LTEuNTUxYy4zNjctLjY2Ny41NS0xLjQzNC41NS0yLjI5OXMtLjE4My0xLjYzMi0uNTUtMi4yOTljLS4zNjctLjY2Ny0uODY1LTEuMTg0LTEuNDk2LTEuNTUxcy0xLjMzNS0uNTUtMi4xMTItLjU1LTEuNDgxLjE4My0yLjExMi41NS0xLjEzLjg4NC0xLjQ5NiAxLjU1MS0uNTUgMS40MzQtLjU1IDIuMjk5LjE4MyAxLjYzMi41NSAyLjI5OS44NjUgMS4xODQgMS40OTYgMS41NTEgMS4zMzUuNTUgMi4xMTIuNTV6TTE3MC40MiA5LjZjMS4zOTMgMCAyLjYwMy4yMzEgMy42My42OTMgMS4wMjcuNDYyIDEuODE5IDEuMTIyIDIuMzc2IDEuOThzLjgzNiAxLjg2Ni44MzYgMy4wMjUtLjI3OSAyLjE2My0uODM2IDMuMDE0LTEuMzUgMS41MDctMi4zNzYgMS45NjktMi4yMzcuNjkzLTMuNjMuNjkzaC0yLjY4NFYyNWgtNC4zNTZWOS42em0tLjI2NCA3Ljk0MmMuODk1IDAgMS41Ny0uMTk0IDIuMDI0LS41ODNzLjY4Mi0uOTQyLjY4Mi0xLjY2MS0uMjI3LTEuMjc2LS42ODItMS42NzItMS4xMy0uNTk0LTIuMDI0LS41OTRoLTIuNDJ2NC41MXpNMTg2LjYzNCA5LjZjMS4zOTMgMCAyLjYwMy4yMzEgMy42My42OTMgMS4wMjcuNDYyIDEuODE5IDEuMTIyIDIuMzc2IDEuOThzLjgzNiAxLjg2Ni44MzYgMy4wMjUtLjI3OSAyLjE2My0uODM2IDMuMDE0LTEuMzUgMS41MDctMi4zNzYgMS45NjktMi4yMzcuNjkzLTMuNjMuNjkzaC0yLjY4NFYyNWgtNC4zNTZWOS42em0tLjI2NCA3Ljk0MmMuODk1IDAgMS41Ny0uMTk0IDIuMDI0LS41ODNzLjY4Mi0uOTQyLjY4Mi0xLjY2MS0uMjI3LTEuMjc2LS42ODItMS42NzItMS4xMy0uNTk0LTIuMDI0LS41OTRoLTIuNDJ2NC41MXptMTkuNzU2IDQuNDY2aC02LjUxMkwxOTguNDA0IDI1aC00LjQ0NGw2Ljc5OC0xNS40aDQuMjlsNi44MiAxNS40aC00LjUzMnptLTEuMjc2LTMuMjEybC0xLjk4LTQuOTI4LTEuOTggNC45Mjh6bTIwLjA4Ni0xLjgyNmMuODguMzA4IDEuNTcuNzg4IDIuMDY4IDEuNDQxcy43NDggMS40NDEuNzQ4IDIuMzY1YzAgMS4zNS0uNTQzIDIuMzktMS42MjggMy4xMjRzLTIuNjU1IDEuMS00LjcwOCAxLjFIMjEzLjFWOS42aDcuODc2YzEuOTY1IDAgMy40NjEuMzYzIDQuNDg4IDEuMDg5IDEuMDI3LjcyNiAxLjU0IDEuNzA1IDEuNTQgMi45MzcgMCAuNzMzLS4xOCAxLjM5LS41MzkgMS45NjlzLS44NjkgMS4wMzgtMS41MjkgMS4zNzV6bS03LjUyNC00LjIyNHYyLjk3aDIuOTkyYzEuNDY3IDAgMi4yLS40OTkgMi4yLTEuNDk2IDAtLjk4My0uNzMzLTEuNDc0LTIuMi0xLjQ3NHptMy42NTIgOS4xMDhjMS41MjUgMCAyLjI4OC0uNTIgMi4yODgtMS41NjJzLS43NjMtMS41NjItMi4yODgtMS41NjJoLTMuNjUydjMuMTI0ek0yMzAuMDE4IDkuNmg0LjM1NnYxMS45NDZoNy4zNDhWMjVoLTExLjcwNHptMjUuNzg0IDEyLjAzNFYyNWgtMTIuMzY0VjkuNmgxMi4wNzh2My4zNjZoLTcuNzY2djIuNTk2aDYuODQydjMuMjU2aC02Ljg0MnYyLjgxNnpNODEuNTQgMzMuNmg3LjI4MmMxLjY4NyAwIDMuMTgzLjMxNSA0LjQ4OC45NDZzMi4zMTcgMS41MjUgMy4wMzYgMi42ODQgMS4wNzggMi41MTUgMS4wNzggNC4wNy0uMzYgMi45MTEtMS4wNzggNC4wNy0xLjczIDIuMDUzLTMuMDM2IDIuNjg0LTIuODAxLjk0Ni00LjQ4OC45NDZIODEuNTR6bTcuMTA2IDExLjkyNGMxLjMyIDAgMi4zOC0uMzc0IDMuMTc5LTEuMTIyczEuMTk5LTEuNzgyIDEuMTk5LTMuMTAyLS40LTIuMzU0LTEuMTk5LTMuMTAyLTEuODU5LTEuMTIyLTMuMTc5LTEuMTIyaC0yLjc1djguNDQ4em0xOC44MzIgMy43ODRjLTEuNjI4IDAtMy4wOTEtLjM0NS00LjM4OS0xLjAzNHMtMi4zMTctMS42NDMtMy4wNTgtMi44NmMtLjc0LTEuMjE3LTEuMTExLTIuNTg5LTEuMTExLTQuMTE0cy4zNy0yLjg5NyAxLjExMS00LjExNGMuNzQtMS4yMTcgMS43Ni0yLjE3IDMuMDU4LTIuODZzMi43NjEtMS4wMzQgNC4zODktMS4wMzQgMy4wOTEuMzQ1IDQuMzg5IDEuMDM0IDIuMzE3IDEuNjQzIDMuMDU4IDIuODYgMS4xMTEgMi41ODkgMS4xMTEgNC4xMTQtLjM3IDIuODk3LTEuMTExIDQuMTE0LTEuNzYgMi4xNy0zLjA1OCAyLjg2LTIuNzYxIDEuMDM0LTQuMzg5IDEuMDM0em0wLTMuNjA4Yy43NzcgMCAxLjQ4MS0uMTgzIDIuMTEyLS41NXMxLjEzLS44ODQgMS40OTYtMS41NTFjLjM2Ny0uNjY3LjU1LTEuNDM0LjU1LTIuMjk5cy0uMTgzLTEuNjMyLS41NS0yLjI5OWMtLjM2Ny0uNjY3LS44NjUtMS4xODQtMS40OTYtMS41NTFzLTEuMzM1LS41NS0yLjExMi0uNTUtMS40ODEuMTgzLTIuMTEyLjU1LTEuMTMuODg0LTEuNDk2IDEuNTUxYy0uMzY3LjY2Ny0uNTUgMS40MzQtLjU1IDIuMjk5cy4xODMgMS42MzIuNTUgMi4yOTljLjM2Ny42NjcuODY1IDEuMTg0IDEuNDk2IDEuNTUxczEuMzM1LjU1IDIuMTEyLjU1em0yNC43NSAzLjNsLS4wNDQtOC4xNjItMy45NiA2LjY0NGgtMS45MzZsLTMuOTM4LTYuNDI0VjQ5aC00LjAyNlYzMy42aDMuNTg2bDUuNDEyIDguODg4IDUuMjgtOC44ODhoMy41ODZsLjA0NCAxNS40em0xNy40MDItMi45OTJoLTYuNTEyTDE0MS45MDggNDloLTQuNDQ0bDYuNzk4LTE1LjRoNC4yOWw2LjgyIDE1LjRoLTQuNTMyem0tMS4yNzYtMy4yMTJsLTEuOTgtNC45MjgtMS45OCA0LjkyOHptOC4yNS05LjE5Nmg0LjM1NlY0OWgtNC4zNTZ6bTIyLjExIDBWNDloLTMuNTg2bC02Ljc5OC04LjIwNlY0OWgtNC4yNjhWMzMuNmgzLjU4Nmw2Ljc5OCA4LjIwNlYzMy42em04LjQ5MiAxNS43MDhjLTEuMjQ3IDAtMi40NTctLjE1NC0zLjYzLS40NjJzLTIuMTI3LS43MTktMi44Ni0xLjIzMmwxLjQzLTMuMjEyYy42OS40NTUgMS40ODkuODIxIDIuMzk4IDEuMXMxLjgwNC40MTggMi42ODQuNDE4YzEuNjcyIDAgMi41MDgtLjQxOCAyLjUwOC0xLjI1NCAwLS40NC0uMjM4LS43NjYtLjcxNS0uOTc5cy0xLjI0My0uNDM2LTIuMjk5LS42NzFjLTEuMTU5LS4yNS0yLjEyNy0uNTE3LTIuOTA0LS44MDNzLTEuNDQ1LS43NDQtMi4wMDItMS4zNzUtLjgzNi0xLjQ4MS0uODM2LTIuNTUyYzAtLjkzOS4yNTctMS43ODYuNzctMi41NDFzMS4yOC0xLjM1MyAyLjI5OS0xLjc5MyAyLjI3LS42NiAzLjc1MS0uNjZjMS4wMTIgMCAyLjAxLjExNCAyLjk5Mi4zNDFzMS44NDguNTYxIDIuNTk2IDEuMDAxbC0xLjM0MiAzLjIzNGMtMS40NjctLjc5Mi0yLjg5LTEuMTg4LTQuMjY4LTEuMTg4LS44NjUgMC0xLjQ5Ni4xMjgtMS44OTIuMzg1LS4zOTYuMjU3LS41OTQuNTktLjU5NCAxLjAwMXMuMjM1LjcxOS43MDQuOTI0IDEuMjI1LjQxOCAyLjI2Ni42MzhjMS4xNzMuMjUgMi4xNDUuNTE3IDIuOTE1LjgwM3MxLjQzNy43NCAyLjAwMiAxLjM2NC44NDcgMS40Ny44NDcgMi41NDFjMCAuOTI0LS4yNTcgMS43Ni0uNzcgMi41MDhzLTEuMjgzIDEuMzQ2LTIuMzEgMS43OTMtMi4yNzMuNjcxLTMuNzQuNjcxeiIgZmlsbD0iIzAxMDYxNyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTY0IDF2MjJMMCA0OXoiIGZpbGw9IiMyZmU5ZmYiLz48cGF0aCBkPSJNNTIgMHYzOGMwIDExLjA0Ni04Ljk1NCAyMC0yMCAyMHMtMjAtOC45NTQtMjAtMjBWMjJsMTItNi42VjM4YTcgNyAwIDAwMTQgMFY3Ljd6IiBmaWxsPSIjNGM0N2Y3Ii8+PC9nPjwvc3ZnPg=='
    altText: Unstoppable domain logo

tags:
  - name: reseller
    x-displayName: Reseller API
    description: |-
      Reseller API requires you to be an authorized reseller. You can
      apply to be a reseller [here](https://unstoppabledomains.com/resellers).

      Visit the [reseller dashboard](https://unstoppabledomains.com/resellers) to view your resellerID and Stripe.

paths:
  /resellers/{resellerID}/domains/{domainName}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: domainName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Domain'
    get:
      tags:
        - reseller
      summary: Domain name availability
      description: >
        Requires domain name

        ## Returns
         - `owner` blockchain address
         - `reselling` information on domain `price`, whether it’s
        `availableForFree`, and whether it is a `test` domain. `reselling` is
        equal to `null` if the domain is not available to resell.
         - `registered` boolean if the domain is registered
         - `protected` boolean if the domain is protected
         - `premium` boolean if the domain is premium
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailability/ValidResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralError'
        '401':
          description: Reseller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralResellerNotFound'
  /resellers/{resellerID}/users/{email}/orders:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        description: User email
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/Email'
    post:
      tags:
        - reseller
      summary: Buy domain
      description: >
        This API endpoint is used for buying domains from UD.

        The blockchain needs time before a transaction is mined. In rare cases,
        it is possible for someone to front run your purchase, which would
        result in an order being cancelled. We expect this to happen in less
        than 1 out of 10,000 cases.


        Blockchain doesn’t currently support any locking functionality for an
        upcoming purchase.


        Please make sure you are using the “Order Status” endpoint and wait
        until the transaction is mined. The API currently supports a single
        domain purchase at a time. UD will extend support to multiple domains in
        the future.


        Buy Domain has a little bit different flows depending on which Payment
        system is used. Please read more about it
        [here](#tag/paymentDescription) before using this endpoint
      requestBody:
        type: object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/reseller/buy'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reseller/BuyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralError'
        '401':
          description: Reseller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralResellerNotFound'
  /resellers/{resellerID}/users/{email}/orders/{orderNumber}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        description: User email
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/Email'
      - name: orderNumber
        description: Order number returned as a result of Buy domain API call
        required: true
        in: path
        schema:
          type: string
          example: -Lm9wiYytgrpf4YCWYv6
    get:
      tags:
        - reseller
      summary: Order status
      description: |
        Requires:
          - User Email
          - Order Number

        This endpoint is used to check against blockchain transaction status.
        Due to technical limitation of blockchains transactions are not instant and require some time.
        Once the status is mined you can be sure that the domain is live and written on a blockchain
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reseller/BuyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralError'
        '401':
          description: Reseller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralResellerNotFound'
        '404':
          description: Order Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/NotFoundError'
  /resellers/{resellerID}/users/{email}:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: email
        in: path
        description: User email
        required: true
        schema:
          $ref: '#/components/schemas/Email'
    get:
      tags:
        - reseller
      summary: User status
      description:
        API endpoint can be used to check whether the user has a domain and
        whether they are eligible for a free domain.
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userStatus/Valid'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralError'
        '401':
          description: Reseller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralResellerNotFound'
  /resellers/{resellerID}/domains:
    parameters:
      - name: resellerID
        in: path
        description: ID obtained from UD team
        required: true
        schema:
          type: string
          example: udtesting
      - name: owner
        in: query
        description: owner ethereum address
        required: true
        schema:
          type: string
          example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
      - name: extension
        in: query
        description: extension to look for
        required: true
        schema:
          type: string
          exmaple: zil
      - name: page
        in: query
        description: page number to look at number >= 1, default 1
        required: false
        schema:
          type: number
          example: 1
      - name: perPage
        in: query
        description: perPage results  number >= 1 && number <= 50, default 30
        required: false
        schema:
          type: number
          example: 10
    get:
      tags:
        - reseller
      summary: Reverse look up
      description:
        This endpoint is used to get all domains that are connected to certain
        owner
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reverselookUp/Valid'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralError'
        '401':
          description: Reseller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors/GeneralResellerNotFound'
        
            
components:
  schemas:
    errors:
      GeneralError:
        type: object
        properties:
          errors:
            type: array
            items:
              $ref: '#/components/schemas/errors/BasicError'
      GeneralResellerNotFound:
        type: object
        properties:
          errors:
            type: array
            items:
              $ref: '#/components/schemas/errors/ResellerNotFound'
      GeneralNotFoundError:
        type: object
        properties:
          errors:
            type: array
            items:
              $ref: '#/components/schemas/errors/NotFoundError'
      BasicError:
        type: object
        properties:
          code:
            type: string
            description: |
              Error code
            example: 'ERROR_CODE'
          message:
            type: string
            description: User friendly description of above code
            example: 'Error code explanation'
          field:
            type: string
            description: Estimate error field
            example: 'some field'
          value:
            description: Value of error field
            example: 'some value'
          status:
            type: number
            description: Status code of the response
            example: 400
      NotFoundError:
        type: object
        properties:
          error:
            type: object
            properties:
              message: 
                type: string
                example: 'Not Found'
              status: 
                type: number
                example: 404

      ResellerNotFound:
        type: object
        properties:
          code:
            type: string
            description: |
              Error code
            example: 'RESELLER_NOT_FOUND'
          message:
            type: string
            description: User friendly description of above code
            example: 'Reseller ID not found'
          field:
            type: string
            description: Estimate error field
            example: null
          value:
            description: Value of error field
            example: null
          status:
            type: number
            description: Status code of the response
            example: 401
    orderItem:
      type: object
      properties:
        type:
          type: string
          enum: ['CNS_DOMAIN']
        name:
          $ref: '#/components/schemas/Domain'
        test:
          type: bool
          description: 'Whether domain in test namespace'
        blockchain:
          type: object
          description: Contains information regarding blockchain mining status
          properties:
            owner:
              type: string
              description: Recipient address
            txHash:
              type: string
              description: Hash of bestow transaction
            status:
              type: string
              enum: ['PENDING', 'MINED', 'CANCELED']
      example:
        type: 'CNS_DOMAIN'
        name: 'chainable.crypto'
        test: true
        blockchain:
          owner: '0x59516f47a750e9a3205c66bb8b637f1ab1f7395b'
          status: 'MINED'
          txHash: '0x9ec3905651d56a5bd5cd057d9abd72403ee47b248da3adf210b55bb598309c78'
    Order:
      type: object
      properties:
        orderNumber:
          type: string
          description: orderID used for later status check
          example: -Lm9wiYytgrpf4YCWYv6
        payment:
          anyOf:
            - $ref: '#/components/schemas/stripePayment'
            - $ref: '#/components/schemas/coinbase'
        subtotal:
          type: integer
          description: sub total something number
          example: 10
        items:
          type: array
          items:
            $ref: '#/components/schemas/orderItem'
    Owner:
      description: 'Object contains user Ethereum address'
      type: object
      properties:
        address:
          type: string
          description: Ethereum address
          example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
    Domain:
      description: 'A Plaintext LDH domain'
      type: 'string'
      pattern: "^((?![0-9]+$)(?!.*-$)(?!-)[a-zA-Z0-9-]{1,63}\\.)*(?!-)[a-zA-Z0-9-]{1,63}$"
      example: 'domain.crypto'
    Timestamp:
      description: An epoch timestamp in milliseconds
      type: integer
    Email:
      description: User email address
      type: string
      email: example@gmail.com
    Address:
      description: 'An address'
      type: 'string'
      pattern: '^0x[a-fA-F0-9]{40}$'
      example: '0x033dc48B5dB4CA62861643e9D2C411D9eb6D1975'
    reverselookUp:
      Valid:
        description: Successful response for a reverse look up
        type: object
        properties:
          domains:
            type: array
            items:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/Domain'
                owner:
                  $ref: '#/components/schemas/Address'
                reselling:
                  type: object
                  $ref: '#/components/schemas/DomainAvailability/resellingResponse'
                premium:
                  type: bool
                  description: Is domain premium
                  example: false
                registered:
                  type: bool
                  description: Is domain registered
                  example: true
                protected:
                  type: bool
                  description: Is domain protected
                  example: false

    userStatus:
      Valid:
        description: Successful response for a user status
        type: object
        properties:
          user:
            description: Object with user information
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
              registered:
                description: Whether such user is registered
                type: bool
              ownsDomain:
                description: Whether such user already owns a domain
                type: bool
              eligibleForFreeDomain:
                description: Whether such user is eligible for a free domain
                type: bool
    CnsRecord:
      properties:
        addresses:
          description: A relation of currency tickers to the associated address
          type: object
          example:
            {
              'ADA': 'DdzFFzCqrhskNiNkkTLe9QDmGQc1t6u6kcB6cJ5i2UN6NWdQYRaRmwe9Kd78gX8T9Xv2dAyRxN8RhGnckgU3zFrUYVHGVGtm1uCLTSA4',
              'BTC': null,
              'EOS': null,
              'ETH': '0x89a8f5f337304EaA7caEd7AA1D88b791f3d8B51D',
              'XLM': 'r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV',
              'XRP': 'r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV',
              'ZIL': '0x177FFbD0366097C8A0DB7De1E81217dE3883a4B3',
            }
        ipfs:
          description: IPFS html content hash and dweb redirect domain
          type: object
          example:
            {
              'html': 'Qme54oEzRkgooJbCDr78vzKAWcv6DDEZqRhhDyDtzgrZP6',
              'redirect_domain': 'https://abbfe6z95qov3d40hf6j30g7auo7afhp.mypinata.cloud/ipfs/Qme54oEzRkgooJbCDr78vzKAWcv6DDEZqRhhDyDtzgrZP6',
            }
        meta:
          description: Meta information regarding the domain.
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/Address'
            type:
              type: string
              enum: [ens, 'cns', zns]
            ttl:
              $ref: '#/components/schemas/Timestamp'
    coinbase:
      type: object
      description: Generating a coinbase token via this call
      properties:
        type:
          type: string
          description: coinbase
      example:
        type: coinbase
    stripePayment:
      type: object
      description: for stripe payment method
      properties:
        type:
          type: string
          description: stripe
        tokenId:
          type: string
          description: stripe token Id
      example:
        type: stripe
        tokenId: tok_1FAeVFG8PQyZCUJhJp7emswP
    DomainAvailability:
      errors:
        invalidDomain:
          type: object
          description: Domain name is invalid
          properties:
            errors:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                    example: DOMAIN_NAME_INVALID
                  message:
                    type: string
                    description: User friendly description of the problem
                    example: Domain name is invalid
      resellingResponse:
        description:
          Object contains all information regarding reselling proccess
        type: object
        properties:
          price:
            description: How much UD takes for the domain
            type: integer
            example: 10
          availableForFree:
            description: Whether domain is available for free
            type: bool
            example: false
          test:
            description: Whether domain is in test namespace
            type: bool
            example: true
      ValidResponse:
        type: object
        properties:
          domain:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/Domain'
              owner:
                $ref: '#/components/schemas/Address'
              registered:
                type: boolean
                description: Information if a domain is registered or not
                example: false
              premium:
                type: boolean
                description: Information if a domain is premium or not
                example: false
              protected:
                type: boolean
                description: Information if a domain is protected or not
                example: false
              reselling:
                type: object
                $ref: '#/components/schemas/DomainAvailability/resellingResponse'
    Resolution:
      properties:
        crypto:
          description: Object contains Crypto addresses assigned to this domain
          type: object
          example:
            ZIL:
              address: '0xe568f2BB42A77F6508911290d581B3Af107b1e4B'
            ETH:
              address: '0x20B4564DEB7AF89ece828d843D0Ac2c16934a23e'
    Reseller:
      BuyResponse:
        $ref: '#/components/schemas/Order'

  requestBodies:
    reseller:
      buy:
        properties:
          order:
            type: object
            properties:
              domains:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      $ref: '#/components/schemas/Domain'
                    owner:
                      $ref: '#/components/schemas/Owner'
                    resolution:
                      $ref: '#/components/schemas/Resolution'
              payment:
                type: object
                anyOf:
                  - $ref: '#/components/schemas/coinbase'
                  - $ref: '#/components/schemas/stripePayment'
  examples:
